.main{
    min-width: 900px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}